################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/SST_LB02/bin/Debug
/CurrencyExchangeWrapper/obj/Debug
/SST_LB02/obj/Debug
/CurrencyExchangeWrapper/bin/Debug
/dlls
/CurrencyExchangeWrapper/obj/x86/Debug
/LoggingWrapper/obj/Debug
/SST_LB02/bin/x86/Debug
/SST_LB02/obj/x86/Debug
/XMLcontrolerWrapper/obj/Debug
/CustomerWrapper/bin/Debug
/FScurrencyExchangeWrapper/obj/Debug
/XMLtransactionWrapper/obj/Debug
/TransactionWrapper/obj/Debug
/Neues Textdokument.txt
